<p id="notice"><%= notice %></p>

<h1>Categories</h1>

<table>
  <thead>
    <tr>
      <th style="width:70%">Name</th>
      <th style="width:15%"></th>
      <th style="width:15%"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td style="font-size:20px"><%= category.name %></td>
        <td style="font-size:20px"><%= link_to 'Show', category %></td>
        <td style="font-size:20px"><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="text-right fixed-bottom">
  <a href="<%= new_menu_path %>" class="btn btn-info" role="button" style="border: none;background-color: white; ">
    <span class="fa fa-plus-circle" style="font-size:60px;color:blue;"></span>
  </button>
</div>